@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "albertSans", Arial, Helvetica, sans-serif;
}

.slider {
  --divider-color: #ffffff80;
}

.slider:focus {
  outline: none;
  box-shadow: 0px 0px 15px 5px #0000001e;
}

#main {
  width: auto;
  height: calc(100vh - 48px);
}

#main.fullscreen {
  width: auto;
  height: 100vh !important;
}

#main .fullscreen,
.fullscreen #imageCanvas img,
.fullscreen #uploadArea {
  height: 100vh !important;
  max-height: 100vh !important;
}

#imageCanvas img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: calc(100vh - 48px);
}

#imageCanvas.fs img {
  max-height: 100vh !important;
}

#uploadArea {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: calc(100vh - 48px);
}

.grayscale {
  filter: grayscale(100%);
}

.high-contrast {
  filter: contrast(140%);
}

.gaussian-blur {
  filter: blur(5px);
}

.grid-overlay {
  max-height: calc(100vh - 48px);
}

.fs.grid-overlay {
  max-height: 100vh !important;
}

/* None */
.grid-none #horizontalTop,
.grid-none #horizontalBottom,
.grid-none #verticalLeft,
.grid-none #verticalRight {
  display: none;
}

/* Vertical */
.grid-vertical #horizontalTop {
  display: none;
}

.grid-vertical #horizontalBottom {
  display: none;
}

.grid-vertical #verticalLeft {
  left: 33.33%;
}

.grid-vertical #verticalRight {
  left: 66.66%;
}

/* Horizontal */
.grid-horizontal #horizontalTop {
  top: 33.33%;
}

.grid-horizontal #horizontalBottom {
  top: 66.66%;
}

.grid-horizontal #verticalLeft {
  display: none;
}

.grid-horizontal #verticalRight {
  display: none;
}

/* Thirds */
.grid-thirds #horizontalTop {
  top: 33.33%;
}

.grid-thirds #horizontalBottom {
  top: 66.66%;
}

.grid-thirds #verticalLeft {
  left: 33.33%;
}

.grid-thirds #verticalRight {
  left: 66.66%;
}