@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15191C;
    --foreground: #0B0C0D;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'albertSans', Arial, Helvetica, sans-serif;
}

.slider:focus {
  outline: none;
  box-shadow: 0px 0px 15px 5px #0000001e;
}

#imageCanvas img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: calc(100vh - 48px);
}

main {
  height: 90vh;
}

#uploadArea {
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: calc(100vh - 48px);
}

.grayscale {
  filter: grayscale(100%);
}

.high-contrast {
  filter: contrast(140%);
}

.grid-overlay {
  max-height: calc(100vh - 48px);
}

/* None */
.grid-none #horizontalTop,
.grid-none #horizontalBottom,
.grid-none #verticalLeft,
.grid-none #verticalRight {
  display: none;
}

/* Vertical */
.grid-vertical #horizontalTop {
  display: none;
}

.grid-vertical #horizontalBottom {
  display: none;
}

.grid-vertical #verticalLeft {
  left: 33.33%;
}

.grid-vertical #verticalRight {
  left: 66.66%;
}

/* Horizontal */
.grid-horizontal #horizontalTop {
  top: 33.33%;
}

.grid-horizontal #horizontalBottom {
  top: 66.66%;
}

.grid-horizontal #verticalLeft {
  display: none;
}

.grid-horizontal #verticalRight {
  display: none;
}

/* Thirds */
.grid-thirds #horizontalTop {
  top: 33.33%;
}

.grid-thirds #horizontalBottom {
  top: 66.66%;
}

.grid-thirds #verticalLeft {
  left: 33.33%;
}

.grid-thirds #verticalRight {
  left: 66.66%;
}