@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #15191C;
    --foreground: #0B0C0D;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.slider:focus {
  outline: none;
  box-shadow: 0px 0px 15px 5px #0000001e;
}

.slider img {
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: calc(100vh - 48px);
}